
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Oxanium;
}

.title{
    color: #FFC049;
    font-family: Oxanium;
    font-size: 16px;
    letter-spacing: 0.76px;
    line-height: 19px;
    width: auto;
    text-align: center;
}
.heading {
    color: #FFFFFF;
    font-family: Oxanium;
    font-size: 36px;
    line-height: 43px;
    width: auto;
    text-align: center;
}  
a:-webkit-any-link {
    color: white !important;
    cursor: pointer;
    text-decoration: none !important;
}
.margin{
    margin-top: 5%;
}
#faq,#team, #the_network, #the_tiers, #mintpass{
    scroll-margin-top: 30px;
}
.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.input_text{
    width: 254px;
    height: 50px;
    font-family: Oxanium;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    padding: 10px 30px;
    outline: none;
    border: none;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
    color: #FFFFFF !important;
    background: rgba(113, 96, 148, 0.24);
}
input[type=email] {
    padding: 10px 30px;
}
.input_text::placeholder {
    font-family: Oxanium;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    opacity: 1; /* Firefox */
  }
.button {
    width: fit-content;
    height: 40px;
    font-family: Oxanium;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    outline: none;
    border: none;
    padding: 10px 30px;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
    color: #FFFFFF !important;
    background: #272659;
} 
.button:hover{
    background: #080658;
}

.button_light{
    background: rgba(113, 96, 148, 0.24);
}
.navigate{
    z-index: 1;
}

/* FIRST SECTION  */
.first-section {
    height: 100vh;
    background-image: url("./images/landing_img.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.landing_image{
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    background-color: linear-gradient(#3D2957 0%, #40366C 76.46%, #272659 100%);
}
.logo{
    width: 795px;
    height: 65px;
    z-index: 1;
}
.content_text {
    color: #FFFFFF;
    font-family: Oxanium;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 687px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.content_subtext {
    color: #FFFFFF;
    font-family: Oxanium;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    width: 688px;
    text-align: center;
}
.ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding-right: 20px;
    color: #FFFFFF;
    font-family: Oxanium;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.nav_btn {
    margin-left: 15%;
}
.modal_dialog_centered{
    margin-top: 15% !important;
}
/*.modal-open .modal {
    /* overflow-x: hidden; *
    overflow-y: hidden !important;
}*/

#waitingList.modal .modal-dialog {
    margin-top: 15%;
}
/* Second Section */
#mintpass{
    background-color: #04051C; 
}
.rectangle {
    background-image: linear-gradient(111.79deg, #3D2957 0%, #40366C 76.46%, #272659 100%);
    width: 100%;
    height: 850px;
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
    margin-top: -10%;
}

.bitmap{
    width: 374px;
    height: 374px;
}
/* Third Section */
.third-section{
    width: 100%;
    height: 2800px;
    background-color: #04051C;
    margin-top: 0%;
}
.card_item {
    background-image: linear-gradient(180deg, #2B2D56 0%, #13142B 100%);
    width: 100%;
    height: 504px;
}
.card_container {
    width: 100%;
    border-right: 3px solid  #292a4eb7 !important;   
}
.price_box {
    background-color: #292a4eb7 !important;
    width: 340px;
    height: 80px;
    padding: 15px;
    margin: 40px 15px 20px 15px;
}
.elite_box{
    margin-top: 30px !important;
}
.price_item{
    color: #72777C;
    font-size: 14px;
    line-height: 17px;
}
.price {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.line_height{
    line-height: 19px;
}
.bg_image{
    background-image: url("./images/Polygon.svg");
    background-repeat: no-repeat;
}
.network_section{
    width: 100%;
    height: 730px;  
}
.network_card {
    background-color: #000000;
    width: 360px;
    height: 310px;
}
.p_text {
    color: #B0B3C5;
    font-size: 16px;
    line-height: 24px;
    width: 502px;
    text-align: center;
}

.p_text_team {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    width: 550px;
    text-align: center;
}
.games{
    width: 360px;
    height: 200px;
}
.default_btn{
    width: 160px;
    height: 50px;
}
.transparent_btn{
    background-color: transparent !important;
}
.icon_box{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.yellow_box{
    background-color: yellow;
}
.with_border{
    border: 1px solid #080658;
    color: yellow;
}
.team{
    position: absolute;
    width: 120px;
    height: 120px;
}

.bg_team_img {
    width: 190px;
    height: 180px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    background-image: url("./images/Mask@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.m_top{
    margin-top: 10%;
}
.faq{
    width: 1440px;
    height: 800px;
  
}
.bg_faq_img{
    background-image: url("./images/polygun2.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.faq_button {
    width: 210px !important;
}
.questions{
    width: 737px;
    height: 466px;
    padding: 30px;
}
.faq_question{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 41px;
    width: 597px;
    text-align: left;
}
.faq_text {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 31px;
    width: 677px;
    text-align: left;
    padding-left: 10%;
}
/* About Page */
.about_logo{
    width: 227px;
    height: 20px;
}
.nav_about_btn {
    margin-left: 15%;
}
.bg_about{
    background-color: rgba(0, 0, 0, 1);
}
.bg_img_about {
    width: 100%;
    height: 100vh;
    background-image: url("./images/landing_img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(40px);
  -webkit-filter: blur(5px);
}
.about_heading {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    width: 551px;
    text-align: center;
    padding: 20px;
    margin-top: -10%;
}
.about_content{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 32px;
    width: 845px;
    text-align: center;
}
.card_about{
    background-image: linear-gradient(180deg, #2B2D56 0%, #13142B 100%);
    width: 910px;
    height: 331px;
    margin-top: -10%;
    z-index: 11;
}
.card_about_img{
    width: 294px;
    height: 331px;
}

.about_card_heading{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 43px;
    width: 439px;
    text-align: left;
}
.about_card_subheading{
    color: #A6AEB6;
    font-size: 16px;
    line-height: 24px;
    width: 513px;
    text-align: left;
}
.about_btn{
    width: 254px !important;
}
.about_logos{
    height: 100px;
    margin: 10% 0;
}
.investor{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 43px;
    width: 333px;
    height: 72px;
    text-align: left;
}
.about_bit{
    width: 240px;
    height: 40px;
}
.about_icon{
    width: auto;
    height: 60px;
}
/* Roadmap */
.roadmap_heading {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    width: 551px;
    text-align: center;
    padding: 20px;
    margin-top: -20%;
}
.roadmap_content{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 26px;
    width: 662px;
    text-align: center;
}
.roadmap_container {
    background-image: linear-gradient(111.79deg, #3D2957 0%, #40366C 76.46%, #272659 100%);
    width: 1120px;
    height: 500px;
    margin-top: -27%;
    z-index: 11;
}
.roadmap_circle{
    width: 80px;
    height: 80px;
    background: #000000;
    border-radius: 50%;
    align-items: center;
    z-index: 1;
}
.inner_circle{
    position: relative;
    top: -15px;
    right: -55px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #000000;
    border: 3px solid #3F2F60;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.roadmap_circle_img{
    position: relative;
    top: -25px;
    right: -7px;
}
.question_mark{
    position: relative;
    top: -8px;
    font-size: 36px;
    line-height: 43px;
}
.empty_card{
    width: 150px !important;
    height: 100px !important;  
}
.roadmap_card{
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 82px;
    padding: 20px;
}
.roadmap_big_card{
    background-color: rgba(11, 108, 204, 0.17) !important;
    width: 333px;
    height: 100px;
    padding: 20px;
}
.dotted {
    position: relative;
    top: 100px;
    left: 0;
    border-top: 1px dotted yellow;
    width: 90%;
    z-index: 0;
}
.dotted:nth-last-child(2){
    display: none;
}
.launch_partners {
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 48px;
    text-align: center;
}

/*Awakening */
.bg_awakening{
    background: rgba(0, 0, 0, 1) !important;
}
.awakening{
    margin-top: -27%;
    z-index: 16;
    opacity: 1;
}
.awakening_text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    width: 854px;
    text-align: left;
}
.awakening_card{
    background-image: linear-gradient(180deg, #2B2D56 0%, #13142B 100%);
    width: 707px;
    height: 320px;
    transform: rotate(1deg);
}
.rotate_reverse{
    transform: rotate(-1deg);
}
.add_line {
    border-right: 3px solid  #292a4eb7 !important; 
}
.bg_awakening_img{
    background-image: url("./images/rectangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg_card_heading{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    width: 276px;
    text-align: left;
}

/* The Republic Lore */
.lore_heading{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    width: 551px;
    text-align: center;
    padding: 20px;
    margin-top: -15%;
}
.lore_container{
    position: relative;
}
.bg_lore_map{
    background-image: url('./images/The\ Republik\ map\ -\ Dark.png');
    background-size: 100%;
    background-position: center;
    border: 10px solid #000000;
    width: 597px;
    height: 367px;
    margin-top: -20%;
    z-index: 1;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.lore_btn{
    transition: .5s ease;
    opacity: 0;
}
.lore_container:hover .bg_lore_map{
    opacity: 0.5;
}

.lore_container:hover .lore_btn{
    z-index: 1;
    opacity: 1;
}
.aisha_img{
    width: auto;
    height: 150px;
}
.character_card_name{
    font-family: Oxanium;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
.character_card_icon{
    width: 35px !important;
    height: 35px !important;
}
.character_card_icon_value{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;      
}
.character{
    color: #00E0F9;
    font-size: 16px;
    line-height: 19px;
    width: 161px;
    text-align: center;
}

.characters_card {
    background-image: linear-gradient(180deg, #090b2c 0%, #13142B 100%);
    width: 1121px;
    height: 405px;
}

.characters_card_footer{
    background-color: #191A38 !important;
    width: 255px;
    height: 80px;
    padding: 15px;
    margin: 10px 15px 10px 15px;
}
/* City section */

.modal.right .modal-dialog {
		position: relative;
		margin: auto;
		width: 660px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}
	
.modal.right .modal-body {
		padding: 0px 15px 80px;
}

.modal.right.fade .modal-dialog {
    right: -388px;
    -webkit-transition: opacity 6s linear, right 6s ease-out;
       -moz-transition: opacity 6s linear, right 6s ease-out;
         -o-transition: opacity 6s linear, right 6s ease-out;
            transition: opacity 6s linear, right 6s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}
.modal-content {
    border-radius: 0;
    border: none;
    width: 660px !important;
    height: 1091px !important;
    background-image: linear-gradient(111.79deg, #3D2957 0%, #40366C 76.46%, #272659 100%);
}
.modal-content::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.modal-content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.bg_city_section{
    width: 660px;
    height: 1091px;
}
.cities_container{
    background: rgba(0, 0, 0, 0.4) !important;
} 
.city_container{
    position: relative;
}
.right_arr{
    position: absolute;
    right: 7px;
    top: 40px;
    width: 11px;
    height: 15px;
    opacity: 0;
    z-index: 0;
}
.city_container:hover .right_arr{
    position: absolute;
    right: 7px;
    top: 40px;
    width: 10px;
    height: 15px;
    opacity: 1 !important;
    z-index: 11 !important;
}
.city_image_pl{
    padding-left: 20px;
}
.city_image{
    width: 83px;
    height: 80px;
}
.padding{
    padding: 10px 20px;
    margin-bottom: 5px;
}
.active{
    background-color: #000000;
}
.padding:hover{
    background-color: #000000;
}
.city_name{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 0px;
    text-align: left;
}
/* city Detail section */
.modal.right_second .modal-dialog {
    position: relative;
    margin: auto;
    width: 589px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.right_second .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right_second .modal-body {
    padding: 0px 15px 80px;
}

.modal.right_second.fade .modal-dialog {
    right: -555px;
    -webkit-transition: opacity 6s linear, right 6s ease-out;
        -moz-transition: opacity 6s linear, right 6s ease-out;
            -o-transition: opacity 6s linear, right 6s ease-out;
            transition: opacity 6s linear, right 6s ease-out;
}

.modal.right_second.fade.in .modal-dialog {
    right: 0;
}
.modal-content , .modal_content_detail {
    border-radius: 0;
    border: none;
    width: 660px !important;
    height: 1091px !important;
    background-image: linear-gradient(111.79deg, #3D2957 0%, #40366C 76.46%, #272659 100%);
}
.modal-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-content{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.bg_city_detail_section{
    background-image: linear-gradient(111.79deg, #3D2957 0%, #40366C 76.46%, #272659 100%);
    width: 589px;
    height: 1236px;
}
.city_detail_heading{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
}
/*.city_center_img_outer{
    margin: 40px 50px;
}
.ml_50 {
    margin-left: 50px;
}*/
.city_center_img{
    width: 520px;
    height: 267px;
}
.city_subheading{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 26px;
    width: auto;
    text-align: left;
}
.cities_detail_text{
    color: #FFFFFF;
    font-weight: 400;
    font-family: Oxanium;
    font-size: 16px;
    line-height: 24px;
    width: 486px;
    text-align: left;
    padding-left: 24px;
}
.character_img{
    width: 124px;
    height: 150px;
}

/* Character Detail*/
.character_section{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
    opacity: 1;
}
.bg_character_detail_section{
    background-image: linear-gradient(111.79deg, #3D2957 0%, #40366C 76.46%, #272659 100%);
    width: 950px;
    height: 904px;
}
.main_character_card{
    width: 281px;
    height: 487px;
    background-color: #000000;
}
.main_character_col {
    width: 477px;
    height: 487px;
}
.sub_character_card{
    background-color: #000000;
    width: 200px;
    height: 295px;
    margin-top: 0px!important;
    margin: 10px;
}
.sub_character_card:first-child{
    margin-left: 0px !important;
}
.sub_character_card:last-child{
    margin-right: 0px !important;
}
.sub_character_img{
    width: 156px;
    height: 200px;
}
.character_icon_value{
    color: #FFFFFF;
    font-family: Oxanium;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.character_name{
    color: #00E0F9;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
}
.text_card_character{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
}
.character_info_card{
    background-color: #191A38;
    width: 464px;
    height: 79px;
}
.strength{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
/* History section */
.bg_history_section{
    background-image: url("./images/history_box.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1000px;
    height: 707px;
    margin-top: -15%;
}
.history_center {
    margin-top: 30%;
    margin-left: -55%;
}
.history_logo{
    width: 550px;
}
.history_text{
    width: 600px;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}
.left_btn{
    position: absolute;
    width: 70px !important; 
    height: 50px !important;
    clip-path: polygon(0 0, 91% 0, 100% 100%, 11% 100%) !important;
    margin-right: 140%;
    margin-top: 0%;
}
.right_btn{
    position: absolute;
    width: 70px !important; 
    height: 50px !important;
    clip-path: polygon(0 0, 91% 0, 100% 100%, 11% 100%) !important;
    margin-left: 140%;
    margin-top: 0%;
}
/* Footer Section*/
.rectangle-footer {
    background-color: #0F0029;
    width: 100%;
    height: 140px;
    z-index: 12;
}
footer{
    height: 140px;
}

.footer_default_btn {
    width: 254px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
}
    
.terms-of-service {
    color: #FFFFFF;
    font-family: Oxanium;
    font-size: 16px;
    line-height: 19px;
}
.privacy-policy {
    color: #FFFFFF;
    font-family: Oxanium;
    font-size: 16px;
    line-height: 19px;
}
.republik-2022 {
    color: #788087;
    font-family: Oxanium;
    font-size: 16px;
    letter-spacing: -0.39px;
    line-height: 19px;
    width: 141px;
    text-align: left;
}


